* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  max-width: 996px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}

.column {
  text-align: center;
}

img.pokeball {
  max-width: 100px;
  margin: 0 auto 1rem;
  display: block;
}

.ball1 > :first-child {
  transform: rotate(-30deg);
}

.ball3 > :first-child {
  transform: rotate(30deg);
}

button {
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  color: white;
  background-color: gray;
}

button:focus {
  outline: none;
}

button:active {
  transform: translateY(5px);
}
